
.Mode-main {
    align-items: center;
    grid-column: 5/9;
    background-color: #fff;
    height: 48px;
    border-radius: 25px;
    grid-row: 8;
    display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
              
                  /*Align children horizontally*/
                  -webkit-flex-direction: row;
                  -ms-flex-direction: row;
                  flex-direction: row;
              
                  -webkit-align-content: flex-start;
                  -ms-flex-line-pack: start;
                  align-content: flex-start;
  }
  .Mode-main i {
    display: inline-block;
    width: 100%;
    text-align:center;
  }
  @media only screen and (max-width: 768px) {
    .Mode-main {
        align-items: center;
        grid-column: 1/4;
        background-color: #fff;
        height: 48px;
        border-radius: 0px;
        grid-row: 9;
        
      }
}