
.EditButton-close{
    position: absolute;
    display: inline;
    bottom: 16px;
    left: 16px;
    margin-left: 4px;
    border-radius: 50px;
    background: white;

}
.EditButton-bar{
    position: absolute;
    width: 144px;
    bottom: 72px;
    left: 16px;
    border-radius: 50px;
    background: whitesmoke;

}