.Map-main {
    height: 100vh;
    width: 100vw;
    background-color: #5e4fa2;
    position: absolute;
    z-index: -3;
  }

.Map-coloring{
  position: absolute;
  bottom: 170px;
  right: 40px;
}
.Map-colorpicker{
  position: absolute;
  top: 150px;
  left: 70px;
}