.Search-main{
    width: 300px;
    position:absolute;
    top: 16px;
    left:50%;
    margin-left: -150px;
}
.Search-bar{
    height: 48px;
    width: 300px;
    padding-inline-start: 12px;
    margin-top: 16px;
    border: 1px solid transparent;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    background: black;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
}
